.reminder-form {
  background: #b3b3b3ed;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .fullWidth {
    width: 95%;
    margin-top: 16px;
    text-align: center;
  }
}
