.reminder-wrapper {
  font-size: 12px;
  float: left;
  width: 100%;
  margin-top: 1px;
  padding-top: 8px;
  &.normal{ background: green}
  &.high{ background: orange}
  &.important{ background: red}
}
.clickable {
  cursor: pointer;
  float: left;
  position: relative;
  bottom: 5px;
}
.reminderTitle {
  float: left;
}
