.dayCell {
  width: 14%;
  height: 70px;
  float: left;
  border: solid 1px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 1px;
  border-top: none;
  overflow: auto;
  &:hover {
    .addReminder {
      display: block;
    }
  }
  &.today {
    background: #c7c7c7;
  }
  .addReminder {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
  }
}
